[Desktop Entry]
Exec=/usr/libexec/ssh-add-identities
Icon=application-x-shellscript
Name=ssh-add-identities
Type=Application
X-KDE-AutostartScript=true
OnlyShowIn=KDE;
