---
name: Build m2os Images
on: # yamllint disable-line rule:truthy rule:comments
  workflow_call:
    inputs:
      image_flavor:
        type: string
    secrets:
      SIGNING_SECRET:
        required: true
concurrency:
  group: >-
    ${{ github.workflow }}-${{ github.ref
    || github.run_id }}-${{ inputs.image_flavor }}-build
  cancel-in-progress: true
env:
  IMAGE_REGISTRY: ghcr.io/${{ github.repository_owner }}
  IMAGE_NAME: ${{ github.event.repository.name }}
  SET_X: 1

jobs:
  get-images:
    name: Get Images for Build
    permissions:
      actions: read
    outputs:
      images: ${{ steps.images.outputs.images }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        # yamllint disable-line rule:line-length rule:comments
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - name: Get Images for Build
        id: images
        uses: ./.github/actions/get-images
        with:
          image_flavor: ${{ inputs.image_flavor }}

  build-image:
    name: ${{ matrix.image }}
    needs: get-images
    runs-on: ubuntu-latest
    continue-on-error: false
    permissions:
      contents: read
      packages: write
    strategy:
      fail-fast: false
      matrix:
        image: ["${{ fromJson(needs.get-images.outputs.images) }}"]
    container:
      image: "ghcr.io/ublue-os/devcontainer:latest"
      # yamllint disable-line rule:line-length rule:comments
      options: "--privileged --volume /:/host-sys --volume /var/lib/containers:/var/lib/containers
        --security-opt seccomp=unconfined --security-opt apparmor=unconfined --security-opt
        label=disable --user 0:0"
    steps:
      - name: Maximize build space
        shell: bash
        run: |
          set -xeuo pipefail
          df -h
          # Remove host toolchains, browsers
          shopt -s nullglob
          printf '/host-sys%s\0' /opt/PyPy \
                                /opt/az \
                                /opt/node/ \
                                /opt/pipx \
                                /opt/go \
                                /opt/Ruby \
                                /usr/lib/llvm-* \
                                /usr/local/julia* \
                                /usr/local/lib/android \
                                /usr/share/dotnet \
                                /usr/share/swift \
                                /usr/local/.ghcup \
                                /usr/lib/firefox \
                                /opt/google/chrome \
                                /opt/microsoft/msedge \
              | xargs -0 -n1 -P4 rm -rf
          df -h

      - name: Checkout
        # yamllint disable-line rule:line-length rule:comments
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

      - name: Mark Directory as Safe
        run: git config --system --ad safe.directory "$GITHUB_WORKSPACE"

      - name: Update Dependencies
        shell: bash
        run: |
          dnf swap -y --from-repo=updates-testing rpm-ostree rpm-ostree
          dnf swap -y --from-repo=updates-testing podman podman
          dnf swap -y --from-repo=updates-testing skopeo skopeo
          dnf swap -y --from-repo=updates-testing buildah buildah

      - name: Pull Older Image for Rechunking
        shell: bash
        run: |
          if [[ "$(date -u +%d)" -gt 7 ]]; then
            podman pull "${{ env.IMAGE_REGISTRY }}/${{ env.IMAGE_NAME }}:${{ matrix.image }}"
          fi

      - name: Build Image
        shell: bash
        run: |
          just build ${{ matrix.image }}

      - name: Login and Push to GHCR and Sign
        id: push
        if: >-
          contains(fromJson('["workflow_dispatch", "merge_group"]'),
          github.event_name) || github.event.schedule == '41 6 * * 0'
        env:
          COSIGN_EXPERIMENTAL: false
          COSIGN_PRIVATE_KEY: ${{ secrets.SIGNING_SECRET }}
          ACTOR: ${{ github.actor }}
          TOKEN: ${{ github.token }}
        shell: bash
        run: |
          set -eou pipefail
          just push-and-sign "${{ matrix.image }}"

      - name: Upload OCI Artifact
        # yamllint disable-line rule:line-length rule:comments
        uses: actions/upload-artifact@bbbca2ddaa5d8feaa63e36b76fdaad77386f024f # v7
        with:
          name: ${{ matrix.image }}.oci
          # yamllint disable-line rule:line-length rule:comments
          path: ${{ env.IMAGE_NAME }}_${{ matrix.image }}.tar
          if-no-files-found: error
          archive: false

  check:
    name: Check Build Images Successful
    permissions:
      actions: read
    if: ${{ !cancelled() }}
    runs-on: ubuntu-latest
    needs: [build-image]
    steps:
      - name: Exit on failure
        if: >-
          ${{ contains(fromJson('["failure", "skipped"]'),
          needs.build-image.result) }}
        shell: bash
        run: exit 1
      - name: Exit
        shell: bash
        run: exit 0
