---
name: Generate Release Text
on: # yamllint disable-line rule:truthy rule:comments
  workflow_call:
    inputs:
      target:
        type: string
  workflow_dispatch:
    inputs:
      target:
        description: "Release Branch (e.g., testing). Defaults to branch name."
        type: choice
        options:
          - stable
          - bazzite
          - ucore
      handwritten:
        description: "Handwritten Notes"
        type: string

jobs:
  generate-release:
    name: Generate ${{ inputs.target }} Changelog
    permissions:
      contents: read
    runs-on: ubuntu-latest
    steps:
      - name: Checkout last 500 commits (for <commits> to work)
        # yamllint disable-line rule:line-length rule:comments
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
        with:
          fetch-depth: 500

      - name: Download Artifacts
        # yamllint disable-line rule:line-length rule:comments
        if: contains(fromJson('["Desktop", "Bazzite", "Desktop-Beta", "Bazzite-Beta"]'),
          inputs.target)
        # yamllint disable-line rule:line-length rule:comments
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v6
        with:
          pattern: url-${{ inputs.target }}-*
          merge-multiple: true

      - name: Merge Artifacts into url.md
        id: merge-artifacts
        # yamllint disable-line rule:line-length rule:comments
        if: contains(fromJson('["Desktop", "Bazzite", "Desktop-Beta", "Bazzite-Beta"]'),
          inputs.target)
        shell: bash
        run: |
          set -eoux pipefail
          touch url.md
          for artifact in $(find url-${{ inputs.target }}-*); do
            cat $artifact >> url.md
          done
          echo "urlmd=url.md" >> $GITHUB_OUTPUT

      - name: Generate Release Text
        id: generate-release
        run: |
          set -eoux pipefail
          python3 ./changelogs.py \
            "${{ inputs.target }}" \
            ./output-${{ inputs.target }}.env \
            ./changelog-${{ inputs.target }}.md \
            --workdir . \
            --handwritten "${{ inputs.handwritten }}" \
            --urlmd "${{ steps.merge-artifacts.outputs.urlmd }}"
          source ./output-${{ inputs.target }}.env

      - name: Upload Changelogs as Artifact
        # yamllint disable-line rule:line-length rule:comments
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5
        with:
          name: changelogs-${{ inputs.target }}
          path: ./changelog-${{ inputs.target }}.md
          if-no-files-found: error
          retention-days: 0
          compression-level: 0
          overwrite: true
