---
name: Create Release
on: # yamllint disable-line rule:truthy rule:comments
  workflow_call:
    inputs:
      type:
        type: string
        required: true
  workflow_dispatch:
    inputs:
      run-id:
        description: "The Run-ID for the workflow."
        type: number
        required: true
      type:
        description: "Stable or Beta."
        type: choice
        options:
          - stable
          - beta
        required: true
permissions:
  contents: write
env:
  SET_X: 1

jobs:
  create-release:
    name: ${{ inputs.type }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        # yamllint disable-line rule:line-length rule:comments
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
        with:
          fetch-depth: 0
          fetch-tags: true

      - name: Download Changelogs
        # yamllint disable-line rule:line-length rule:comments
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7
        with:
          pattern: "changelogs-*"
          run-id: ${{ inputs.run-id || github.run_id }}
          github-token: ${{ github.token }}
          merge-multiple: true

      - name: Download SBOMs
        # yamllint disable-line rule:line-length rule:comments
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7
        with:
          pattern: "*.sbom"
          run-id: ${{ inputs.run-id || github.run_id }}
          github-token: ${{ github.token }}
          merge-multiple: true

      - name: Setup Just
        # yamllint disable-line rule:line-length rule:comments
        uses: extractions/setup-just@f8a3cce218d9f83db3a2ecd90e41ac3de6cdfd9b # v3

      - name: Prepare Release
        id: prepare-release
        shell: bash
        run: |
          set -eoux pipefail
          output="$(just merge-changelog ${{ inputs.type }})"
          cat changelog.md
          jq -r <<< "$output"
          for k in $(jq 'keys[]' <<< "$output" | tr -d \"); do
            echo "$k=$(jq -r ".$k" <<< "$output")" >> $GITHUB_OUTPUT
          done

      - name: Upload Changelogs as Artifact
        # yamllint disable-line rule:line-length rule:comments
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6
        with:
          name: release-changelog-${{ inputs.type }}
          path: ./changelog.md
          if-no-files-found: error
          retention-days: 0
          compression-level: 0
          overwrite: true

      - name: Create Release
        # yamllint disable-line rule:line-length rule:comments
        uses: softprops/action-gh-release@a06a81a03ee405af7f2048a818ed3f03bbf83c7b # v2
        if: >-
          inputs.type == 'stable'
            && (contains(fromJson('["workflow_dispatch", "merge_group"]'),
            github.event_name)
            || github.event.schedule == '41 6 * * 0')
        with:
          name: ${{ steps.prepare-release.outputs.title }}
          tag_name: ${{ steps.prepare-release.outputs.tag }}
          body_path: ./changelog.md
          make_latest: true
          files: |
            changelog.md
            bluefin.sbom.json
            bluefin-nvidia.sbom.json
            aurora.sbom.json
            aurora-nvidia.sbom.json
            cosmic.sbom.json
            cosmic-nvidia.sbom.json
            bazzite.sbom.json
            bazzite-deck.sbom.json
            ucore.sbom.json
            ucore-nvidia.sbom.json
            bluefin.sbom.json.sig
            bluefin-nvidia.sbom.json.sig
            aurora.sbom.json.sig
            aurora-nvidia.sbom.json.sig
            cosmic.sbom.json.sig
            cosmic-nvidia.sbom.json.sig
            bazzite.sbom.json.sig
            bazzite-deck.sbom.json.sig
            ucore.sbom.json.sig
            ucore-nvidia.sbom.json.sig

      - name: Create Release (Beta)
        # yamllint disable-line rule:line-length rule:comments
        uses: softprops/action-gh-release@a06a81a03ee405af7f2048a818ed3f03bbf83c7b # v2
        if: >-
          inputs.type == 'beta'
            && (contains(fromJson('["workflow_dispatch", "merge_group"]'),
            github.event_name)
            || github.event.schedule == '41 6 * * 0')
        with:
          name: ${{ steps.prepare-release.outputs.title }}
          tag_name: ${{ steps.prepare-release.outputs.tag }}
          body_path: ./changelog.md
          prerelease: true
          make_latest: false
          files: |-
            changelog.md
            bluefin-beta.sbom.json
            bluefin-nvidia-beta.sbom.json
            aurora-beta.sbom.json
            aurora-nvidia-beta.sbom.json
            cosmic-beta.sbom.json
            cosmic-nvidia-beta.sbom.json
            bazzite-beta.sbom.json
            bazzite-deck-beta.sbom.json
            bluefin-beta.sbom.json.sig
            bluefin-nvidia-beta.sbom.json.sig
            aurora-beta.sbom.json.sig
            aurora-nvidia-beta.sbom.json.sig
            cosmic-beta.sbom.json.sig
            cosmic-nvidia-beta.sbom.json.sig
            bazzite-beta.sbom.json.sig
            bazzite-deck-beta.sbom.json.sig
